= simple_form_for(@job, url: create_job_path, html: { method: :post, class: 'w-50 pb-5' }) do |f|
  .form-inputs.pa-5
    %fieldset
      .container
        .row.bg-primary.px-3.py-3.my-3
          %legend.text-white.h4 Podstawowe informacje
        .row
          = f.input :name
          = f.input :description
          = f.input :company_name, input_html: { class: 'col' }
          = f.input :address, input_html: { class: 'col' }
          = f.input :company_city, input_html: { class: 'col' }
        .row
          = f.input :salary_from
          = f.input :salary_to
        .row.bg-primary.px-3.py-3.my-3
          %legend.text-white.h4 Dodatkowe informacje
        .row
          = f.association :category, as: :select, input_html: { class: 'col' }
          = f.association :pricing, as: :select, input_html: { class: 'col' }
          = f.input :experience, as: :select, collection: 1..10, input_html: { class: 'col' }
  .form-action.text-right
    = f.button :submit, class: 'btn btn-success'
