= simple_form_for(@job, url: create_job_path, html: { method: :post, class: 'w-50 pb-5' }) do |f|
  .form-inputs.pa-5
    %fieldset
      .container
        .row.bg-primary.px-3.py-3.my-3
          %legend.text-white.h4 Podstawowe informacje
        .row
          .col
            = f.input :name
        .row
          .col
            = f.input :description
        .row
          .col
            = f.input :company_name
        .row
          .col
            = f.input :address
          .col
            = f.input :company_city
        .row
          .col
            = f.input :salary_from
          .col
            = f.input :salary_to
        .row.bg-primary.px-3.py-3.my-3
          %legend.text-white.h4 Dodatkowe informacje
        .row
          .col
            = f.association :category, as: :select
          .col
            = f.association :pricing, as: :select
          .col
            = f.input :experience, as: :select, collection: 1..10
  .form-action.text-right
    = f.button :submit, class: 'btn btn-success'
