= link_to(job_modal_path(job), {remote: true, data: { toggle: "modal", target: '#modal-window' } } ) do
  .card.my-3
    .card-body
      .row
        .image_container
          - if job.company_logo.attached?
            = image_tag(job.company_logo, alt: job.company_name)
        .col
          .row
            = link_to(job.name, '', class: 'card-title')
            .box
              %span
                = job.salary_from
                = job.salary_to
              = job.created_at.strftime('%d.%m.%Y')
          .row
            %span= job.company_name
            %span= job.company_city