:ruby
  title(t("resource.#{singular_name}.resources_list"))


.row.my-5.pt-5.align-items-center.justify-content-between
  .col
    %h1.h2= t("resource.#{singular_name}.name")
  = render 'admin_buttons'

= render 'flash'

.widget
  .widget-body
    = render 'list'
- if resources.respond_to?(:total_pages)
  .table-pagination
    = will_paginate(resources)