:ruby
  title([
    t("resource.#{singular_name}.resources_list"),
    t("resource.#{singular_name}.#{resource.persisted? ? 'edit_resource' : 'new_resource'}", resource_id: resource.id)
  ])

- content_for(:heading) do
  - if resource.persisted?
    = t("resource.#{singular_name}.edit_resource", resource_id: resource.id)
  - else
    = t("resource.#{singular_name}.new_resource")

.admin-nav
  .admin-nav-left
  .admin-nav-right
    - if resources_path.present?
      .admin-buttons
        = link_to(resources_path, class: 'btn btn-secondary btn-sm') do
          %i.fa.fa-arrow-left
          = t('simple_form.labels.back')

= render 'flash'

.widget
  .widget-header
    - if resource.persisted?
      = t("resource.#{singular_name}.edit_resource", resource_id: resource.id)
    - else
      = t("resource.#{singular_name}.new_resource")
  .widget-body
    = render 'form'