= simple_form_for([:admin, resource], url: resource.persisted? ? resource_path(resource.id) : resources_path, html: { class: 'form-horizontal', id: admin_form_id }) do |f|
  .form-inputs
    %fieldset
      %legend Podstawowe dane

      = f.input :name
      = f.association :category, as: :select
    %fieldset
      %legend Technologie
      = f.simple_fields_for(:jobs_technologies) do |technology|
        = render 'technology_fields', f: technology
      .links
        -# = link_to_add_association 'Dodaj sekcje', f, :jobs_technologies, class: 'btn btn-primary btn-sm'


  .form-actions
    = f.button :submit