= simple_form_for([:admin, resource], url: resource.persisted? ? resource_path(resource.id) : resources_path, html: { class: 'form-horizontal', id: admin_form_id }) do |f|
  .form-inputs
    %fieldset
      %legend Podstawowe dane

      = f.input :name
      = f.association :category, as: :select
      = f.simple_fields_for(:technology) do |c|
        = c.input :technology_id, as: :select, collection: Technology.all
        = c.input :rating
        = c.button :submit
  .form-actions
    = f.button :submit