= simple_form_for([:admin, resource], url: resource.persisted? ? resource_path(resource.id) : resources_path, html: { class: 'form-horizontal', id: admin_form_id }) do |f|
  .form-inputs.pt-5
    %fieldset
      %legend.h2.h2 Podstawowe dane

      = f.input :name
      = f.input :description
      .row
        = f.input :salary_from
        = f.input :salary_to
      = f.input :experience
      = f.input :company_name
      = f.input :address
      = f.input :company_city

      = f.association :category, as: :select
      = f.association :pricing, as: :select
    %fieldset
      %legend.h2 Technologie
      = f.simple_fields_for(:job_technologies) do |job_technology|
        = render 'job_technology_fields', f: job_technology
      .links
        = link_to_add_association 'Dodaj sekcje', f, :job_technologies, class: 'btn btn-success'


  .form-actions.mt-5
    = f.button :submit, class: 'btn btn-success'