- title 'Logowanie - panel administracyjny'
.container-fluid.h-100
  .row.h-100
    .align-self-center.text-center.bg-primary.h-100.d-flex.flex-column.justify-content-center.col-6
      %h1.display-2.text-white Zaloguj się
    .col.align-self-center
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'employee_form col-6 mx-auto' }) do |f|
        .form-inputs
          = f.input :email, input_html: { autofocus: true }
          = f.input :password, autocomplete: "off"
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean, label: admin_label('remember_me', 'employee')

        .form-actions.text-center.mb-3
          = f.button(:submit, t('helpers.submit.employee.sign_in'), class: 'btn btn-success')
      .text-center
        = link_to "Zapomniałeś hasła?", new_password_path(resource_name)