%h2 Zmiana hasła
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'esplori-form' }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-inputs
    = f.input :password, label: "Nowe hasło", required: true, autofocus: true, hint: ("#{@minimum_password_length} znaków minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }                                          |
    = f.input :password_confirmation, label: "Potwierdź hasło", required: true
  .form-actions
    = f.button :submit, "Zmień hasło", class: 'btn btn--orange'

= link_to 'Logowanie', new_session_path(resource_name)