!!!
%html
  %head
    = render 'shared/head', css_file: 'admin', js_file: 'admin'
  %body
    .row.h-100
      .col-2.bg-primary.mr-5.h-100
        .navbar-brand
          = link_to('JobList', '', class: 'text-white')
        %ul
          - if can?(:read, Employee)
            %li
              = active_link_to(admin_employees_path) do
                Pracownicy
          - if can?(:read, User)
            %li
              = active_link_to(admin_users_path) do
                Użytkownicy
          - if can?(:read, Job)
            %li
              = active_link_to(admin_jobs_path) do
                Oferty pracy
          - if can?(:read, Technologie)
            %li
              = active_link_to(admin_technologies_path) do
                Technologie
          - if can?(:read, Categorie)
            %li
              = active_link_to(admin_categories_path) do
                Kategorie
      .col-8.pt-5
        %main
          = yield