!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title JobList
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.bg-light
      %a.navbar-brand{href: "#"} Navbar
      %button.navbar-toggler{"aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarNav", "data-toggle": "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{href: "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            = link_to('Zaloguj', new_session_path , class: 'nav-link')
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled": "true", href: "#", tabindex: "-1"} Disabled
    = yield
